<!DOCTYPE html>
<html ng-app="store">
<head>
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/functionality.js"></script>
</head>
<body>
  <div class="container">

    <div class="row text-center">
      <header>
        <h1>Exotic Animal Market</h1>
      </header>
    </div>

    <section ng-controller="shopController as shop">
      <div class="row text-center" ng-hide="loggedIn">
        <div class="col-xs-12 register-area" ng-hide="registered">
          <button class="btn btn-primary" data-toggle="modal" data-target="#regModal">Register</button>
        </div>
        <div class="col-xs-12 login-area">
          <button class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Log In</button>
        </div>
      </div>

      <div ng-hide="loggedIn">
        <div class="row text-center" ng-show="registered">
          <h4>Hello, {{username}}.  Thank you for registering with us.  Please login to start buying your exotic pets.</h4>
        </div>
        <div class="row text-center" ng-show="loginFail">
          <h4>Your credentials do not work.</h4>
        </div>
      </div>

      <div ng-show="loggedIn">
        <div class="row">
          <div class="col-xs-12">
          <h3>Welcome, {{username}}. Here is your information:</h3>
          </div>
          <div class="col-xs-12 col-md-6" ng-show="balance">
            <h4>Current Balance: {{balance | currency}}</h4>
          </div>
          <div class="col-xs-12 col-md-6" ng-hide="balance">
            <span>Enter your balance</span>
            <form>
              <input type="text" placeholder="{{balance}}" ng-model="shop.balanceUpdater" />
              <button class="btn btn-info" ng-click="updateBalance()">Submit</button>
              <button class="btn btn-danger">Cancel</button>
            </form>
          </div>
        </div>
      </div>

      <div class="row text-center" ng-hide="activeAnimals">
        <button ng-click="showMeTheAnimals()">Browse our list of exotic animals</button>
      </div>
      <div class="row" ng-show="activeAnimals">
        <h2>List of Animals</h2>
      </div>

      <!-- REGISTER MODAL -->
      <div id="regModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content text-center">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Register</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <input type="text" placeholder="Enter your username" ng-model="shop.regUsername"/>
                </div>
                <div class="form-group">
                  <input id="reg-pass" type="password" placeholder="Enter your password" ng-model="shop.regPassword" />
                </div>
                <div class="form-group">
                  <input id="reg-repass" type="password" placeholder="Confirm your password" />
                </div>
                <button class="btn btn-primary" type="submit" data-dismiss="modal"  ng-click="register()">Register</button>
                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
              </form>          
            </div>
          </div>
        </div>
      </div>
      <!-- END REGISTER MODAL -->

      <!-- LOGIN MODAL -->
      <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content text-center">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <input type="text" placeholder="Enter your username" ng-model="shop.loginUsername" />
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Enter your password" ng-model="shop.loginPassword" />
                </div>
                <button class="btn btn-primary" type="submit" data-dismiss="modal" ng-click="login()">Log In</button>
                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- END LOGIN MODAL -->

    </section> <!-- END SHOP CONTROLLER -->

  </div> <!-- END CONTAINER -->

</body>
</html>