<!DOCTYPE html>
<html ng-app="store">
<head>
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script type="text/javascript" src="/static/js/functionality.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
  <div class="container">

    <div class="row">
      <header>
        <h1>Weapons Dealer</h1>
      </header>
    </div>

    <section ng-controller="shop">
      <div ng-hide="loggedIn">
        <button ng-click="login()">Log In</button>
      </div>
      <div ng-show="loggedIn">
        <h2>Weapons for Sale</h2>
      </div>
    </section>

  </div> <!-- END CONTAINER -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>